<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" mode="ios">
  <!-- <ion-img class="logo" src="/assets/logo/primary.png"></ion-img> -->
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="padding-footer">
    <!-- <ion-img class="welcome-svg" src="/assets/local/svg/earn.svg"></ion-img> -->
    <div class="ion-padding-top ion-text-left">
      <ion-card-title padding-bottom>Welcome back! </ion-card-title>
      <p color="dark">Please fill email and password correctly to continue.</p>
    </div>

    <ion-item class="items-input">
      <ion-input
        class="ion-text-lowercase"
        autocomplete="off"
        placeholder="Email"
        required
        type="mail"
        [(ngModel)]="user.identifier"
      >
      </ion-input>
      <ion-icon name="person" icon-start clear item-end></ion-icon>
    </ion-item>

    <ion-item class="items-input">
      <ion-input
        autocomplete="off"
        [type]="!hide ? 'password' : 'text'"
        placeholder="Password"
        required
        [(ngModel)]="user.password"
      >
      </ion-input>
      <ion-icon
        (click)="hide = !hide"
        [name]="!hide ? 'eye-off' : 'eye'"
        icon-start
        clear
        item-end
      ></ion-icon>
    </ion-item>

    <ion-button
      mode="ios"
      size="large"
      type="submit"
      color="primary"
      margin-top
      expand="block"
      strong
      (click)="loginApps(user)"
      [disabled]="loading"
    >
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <span *ngIf="!loading">Sign In</span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
