// .logo {
//     width: 150px;
//     image-rendering: -webkit-optimize-contrast;
//     image-rendering: -moz-crisp-edges;
// }

p {
    font-weight: 300;
    font-size: 18px;
    color: black;
}

ion-card-title {
    font-family: 'gtsuper';
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
}