.round {
    display: block;

    .position {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        // Role Admin
        .background {
            height: 60px;
            border-radius: 0 0 10% 10%;
            background: linear-gradient(30deg, #3c3f97, #000361);
            position: relative;
        }
    }
}

.sub-avatar {
    font-family: 'gtsuper';
    background: var(--ion-color-primary);
    color: var(--ion-color-light);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.title {
    h2 {
        font-weight: 800;
        margin: 0;
        font-size: 24px;
    }

    p {
        margin: 0;
    }
}

ion-card {
    h2 {
        font-family: 'gtsuper';
        font-weight: 800;
    }
}