<ion-header class="ion-no-border" mode="md">
  <ion-toolbar color="primary">
    <ion-title>Employee</ion-title>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button
        mode="md"
        text=""
        defaultHref=""
        color="light"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ng-container *ngIf="loading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-container>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <!-- Data Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-router-link *ngFor="let user of users" href="mailto:{{user.email}}">
      <ion-card mode="ios" button>
        <ion-item lines="none">
          <ion-avatar slot="start" class="sub-avatar">
            {{user.attributes.name | slice:0:1}}
          </ion-avatar>
          <ion-label>
            <h2><strong>{{user.attributes.name}}</strong></h2>
            <p>{{user.attributes.email}}</p>
          </ion-label>
          <ion-chip color="primary">
            <strong>Contact</strong><ion-icon name="mail"></ion-icon
          ></ion-chip>
        </ion-item>
      </ion-card>
    </ion-router-link>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="openAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="1000px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
