/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



// Custom CSS for Global component purpose

.padding-footer {
    --padding-bottom: 16px;
    padding: 16px;
}


// Ion Items
.items-input {
    --background: #f1f1f1;
    border-radius: 7px;
    margin: 16px 0px;

    ion-icon,
    ion-label {
        color: var(--ion-color-medium);
    }

    ::placeholder {
        text-transform: capitalize;
    }
}

// Alert Component
.alert-apps {
    .alert-wrapper {
        padding: 24px;
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
    }

    .alert-button-group {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 16px;
    }

    .alert-head {
        padding: 0;

        h2 {
            margin: 0;
            font-size: 18px;
        }
    }

    .alert-message {
        text-align: left;
        padding: 12px 0 16px 0;
        font-size: 14px;
    }

    .alert-button {
        color: var(--ion-color-light);
        height: auto;
        border: none;
        border-radius: 16px;
        padding: 7px 0;
        flex: 1;
        min-width: auto;
    }

    .alert-button.ion-activated {
        transition: 0.5s;
        background-color: var(--ion-color-dark);
    }

    .alert-button-role-ok {
        transition: 0.5s;
        background-color: var(--ion-color-primary);
    }

    .alert-button-role-cancel {
        transition: 0.5s;
        background-color: var(--ion-color-medium-tint);
    }
}